<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="sampleSqlSeesionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- <property name="dataSource" ref="testH2DataSource" /> -->
        <property name="dataSource" ref="testH2DataSourceMybatis" />
        <property name="configLocation" value="classpath:config/sqlmap/mybatis-config.xml" />
        <property name="mapperLocations" value="classpath:config/sqlmap/mybatis/*-mapper.xml" />
    </bean>
    
    <!-- sqlSession 방식 -->
	<bean id="sampleSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sampleSqlSeesionFactory" />
	</bean>
	
	<!-- Dao interface 방식 -->
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
 		<property name="mapperInterface" value="org.mybatis.spring.sample.mapper.UserMapper" />
  		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
		
</beans>
